.section-second__item--2 .main-slider__item{
    min-width: auto;
    background: none;
}
.slider-fixer{
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
}
