@media (max-width: 1200px) {
    .search-wrap {
        .input {
            max-width: 22%;
        }

        .select {
            max-width: 22%;
        }
    }
    .main-section {
        &-process {
            flex: 6;

            & .third {
                &-item {
                    &__description {
                        &--info {
                            .item-info {
                                &__top {
                                    &--title {
                                        font-size: 15px;
                                    }
                                }

                                &__bottom {
                                    &--cost {
                                        font-size: 9px;
                                        margin-left: 4px !important;
                                    }
                                }
                            }
                        }

                        &--descript {
                            margin-left: 5px;
                        }
                    }

                }
            }


        }
    }
    // END
    // DESCRIPTION
    .product-informations {
        &-middle {
            &__info {
                &--wrapper {
                    &:not(:last-child) {
                        padding-left: 20px;
                    }
                }

                &--item {
                    &_left, &_right {
                        font-size: 15px;
                    }
                }
            }
        }

        &-bottom {
            &-text {
                padding-left: 20px;
            }
        }

        &-company {
            flex-direction: column;
            justify-content: center;

            &__left {
                justify-content: center;
            }
        }
    }
    .description-item {
        &__hideform {
            &--left {
                display: block !important;
            }
        }

        &-img {

        }

        &-text {
            margin-left: 0;

            &__top {
                display: none;
            }

            &__bottom {
                flex-direction: column !important;

                &--left {
                    margin-top: 0 !important;
                    margin-left: 18px;
                }
            }
        }
    }
    .hidden-item {
        display: block;
    }
    .product__big {
        max-width: 354px;
        height: auto;

        &-name {
            font-size: 18px;
        }

        &-price {
            font-size: 18px;
        }

        &-count {
            font-size: 16px;
        }
    }
    .lg-none {
        display: none;
    }
    .section-product-wrapper .collections {
        &-inner {
            flex: 2;
            height: 300px;
        }

        &-right {
            width: 100%;
            max-width: 350px;
            padding: 16px;
            flex-wrap: wrap;
            display: flex;
            background: white;
            height: 300px;
            border-radius: 0 5px 5px 0;
            justify-content: center !important;
        }

        & .product {
            height: auto;
            width: auto;
            border-left: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            overflow: hidden;

            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 20px;
            }

            &:nth-child(even) {
                margin-left: 20px;
            }

            &__image {
                width: 125px;
                height: 125px;
                display: block;
            }

            &-bottom {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .search-wrap {
        .input {
            max-width: 48%;
        }

        .select {
            max-width: 48%;

            &:nth-child(3) {
                margin-top: 20px;
                margin-left: 0;
            }
        }

        .buttons {
            margin-top: 20px;
            flex: 1;
            max-width: 48%;

            .btn {
                flex: 1;
                width: auto;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .footer ul li {
        font-size: 14px;
    }
    .footer-title {
        font-size: 16px;
    }
    .footer-phone {
        font-size: 16px;
    }
    .footer .developed {
        text-align: right;
    }
    .account-text {
        display: none !important;
    }
    .md-none {
        display: none;
    }
    .main-section {
        &-wrapper {
            flex-direction: column;
        }

        &-total-sums {
            display: flex;
            flex-direction: row;
            margin-left: 0;

            &-title {
                height: 240px !important;
                justify-content: center;
                flex: 6;
                padding: 15px;
            }

            &-info {
                margin-left: 18px;
                width: auto !important;
                flex: 6 !important;

                & a {
                    padding: 7px 30px !important;
                }
            }
        }

        &-process {
            width: 100%;

            & .third {
                &-item {
                    &__description {
                        width: 55%;

                        &--info {
                            flex: 1;

                            .item-info {
                                &__top {
                                    align-items: flex-start;

                                    &--title {
                                        font-size: 18px;
                                    }
                                }

                                &__bottom {
                                    justify-content: flex-start;

                                    &--cost {
                                        font-size: 11px !important;
                                    }
                                }
                            }
                        }

                        &--descript {
                            display: none !important;

                        }

                    }
                }

            }
        }
    }
    //END
    //    DESCRIPTION
    .description-item {
        &-wrapper {
            flex-direction: column;
        }

        &-img {
        }

        &-text {
            &__bottom {
                flex-direction: row !important;

                &--left {
                    margin-left: 0 !important;
                    margin-top: 18px !important;
                }
            }
        }
    }
    .product-informations {
        &-company {
            &__right {
                &--top {
                    &_table {
                        & > div {
                            & > div {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        &-middle {
            &__info {
                flex-direction: column;

                &--wrapper {
                    flex: auto;
                    padding-left: 20px;
                }

                &--item {
                    &_left, &_right {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    //END

    //   ORDER
    .order {
        &-inner {
            flex-direction: column;

            &__main {
                &:first-child {
                    margin-right: 0px;
                }
            }
        }
    }
    //END

    .my-orders {
        &-bottom {
            &__item {
                &--3 {
                    & ul {
                        & li {
                            &:nth-child(3) {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .left-navigation {
        min-height: 100vh;
        overflow-x: scroll;
        width: 200px;
        padding: 10px;
    }
    .product-title span{
        padding: 0 10px;
        font-size: 12px;
    }
    .search-wrap {
        .input {
            max-width: none;
        }

        .select {
            max-width: none;
            margin-top: 20px;
            margin-left: 0;
        }

        .buttons {
            max-width: none;
        }
    }
    .product-slider {
        padding: 10px 0;
    }
    .hidden-item-wrapper-name div {
        font-size: 16px;
    }
    .category__wrap {
        justify-content: center !important;
    }
    //.categories {
    //    .item {
    //        width: 80px;
    //        height: 80px;
    //        border-radius: 10px;
    //        margin-right: 5px;
    //
    //        &-image {
    //            width: 38px;
    //            height: 38px;
    //            margin: 0 auto 4px;
    //        }
    //
    //        .name {
    //            font-size: 8px;
    //        }
    //    }
    //}
    .section-product-wrapper .collections {
        flex-wrap: wrap;

        &-inner {
            flex: none;
            height: auto;
            width: 100%;
            border-radius: 5px 5px 0 0;
            padding: 20px;

            .title {
                font-size: 18px;
            }

            .description {
                font-size: 14px;
                line-height: 18px;
            }

            .btn {
                width: 100%;
                font-size: 16px;
                text-align: center;
            }
        }

        &-right {
            max-width: none;
            width: 100%;
            padding: 30px;
            height: auto;
            border-radius: 0 0 5px 5px;
        }

        & .product {
            width: 46%;

            &:nth-child(1), &:nth-child(2) {
            }

            &:nth-child(even) {
            }

            &__image {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
    .d-sm-flex {
        display: flex;
    }
    .sm-none {
        display: none;
    }
    .footer .developed {
        margin-top: 0;
        flex: 1;
        font-size: 10px;
    }
    .footer .socials {
        flex: 1;
        max-width: 160px;
    }
    .footer {
        padding: 20px 0;
    }
    .footer-sm-end {
        margin-top: 25px;
    }
    //   CART
    .main-section {
        &-total-sums {
            &-title {
                flex: 5;

                &__name {
                    font-size: 20px;
                }
            }

            &-info {
                flex: 9;
            }
        }

        &-process {
            & .third {
                min-height: 140px;

                &-item {
                    &__description {
                        flex-direction: column;

                        &--info {
                            .item-info {
                                &__top {
                                    &--subtitle {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }

                        &--countity {
                            &_quantity {
                                margin-top: 12px;
                            }
                        }

                    }
                }

            }
        }
    }
    // END

    //    DESCRIPTION
    .description-item {
        &-img {
        }

        &-text {
            &__bottom {
                flex-direction: column !important;

                &--right {
                    margin-left: 0 !important;

                    &_top {
                        &-bottom {
                            padding-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
    .product-informations {
        &-company {
            padding: 20px !important;

            &__left {
                //& img{
                //    width: 450px;
                //}
            }

            &__right {
                &--top {
                    &_table {
                        width: 100% !important;
                        display: table !important;
                        margin-top: 20px;

                        & > div {
                            display: table-row !important;

                            & > div {
                                display: table-cell !important;
                                padding: 0 !important;
                                vertical-align: middle;
                                border-right: none;
                                text-align: left;
                            }
                        }
                    }
                }

                &--bottom {
                    margin-bottom: 20px;
                }
            }
        }
    }
    // END


    //SECTION- REGISTRATION
    .section-register {
        &-form {
            &__field {
                &--input {
                    &_item {
                        flex-direction: column;
                    }

                    &-wrapper {
                        &:not(:first-child) {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
    // END


    //ORDER
    .my-orders {
        &-top {
            &__item {
                flex: 6 !important;

                &:nth-child(2) {
                    display: none;
                }
            }
        }

        &-bottom {
            &__item {
                &--1 {
                    &_top, &_bottom {
                        font-size: 12px;
                    }
                }

                &--2 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .product {
        height: 190px;
        width: 130px;

        &__image {
            height: 130px;
            width: 130px;
        }

        &-bottom {
            padding: 5px 0;
        }

        &-name {
            font-size: 10px;
            line-height: 13px;
            height: auto;
        }

        &-count {
            font-size: 10px;
            line-height: 13px;
        }

        &-price {
            height: 15px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }

        &__top {
            padding: 5px;
        }
    }
    .main-title {
        font-size: 18px;
    }

    // CART
    .main-section {
        &-total-sums {
            flex-direction: column;

            &-title {
                flex: auto;
                padding-left: 30px;
                padding-right: 0;
                height: 80px !important;
                justify-content: start;
            }

            &-info {
                margin-left: 0;

                & a {
                    padding: 7px 40px !important;
                }
            }
        }

        &-process {
            & .third {
                &-wrapper {
                    & label {
                        margin-left: 25px;
                    }
                }

                &-item {
                    &__img {
                        width: 60px;
                        height: 60px;
                    }

                    &__description {
                        &--info {
                            .item-info {
                                &__top {
                                    &--title {
                                        font-size: 16px;
                                    }

                                    &--subtitle {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }
    // END
    // DESCRIPTION
    .description-item {
        &-img {
            flex-direction: column;
            min-height: 560px;

            &__main {
                flex: 12;
            }

            &__litle {
                flex-direction: row;
                margin-top: 18px;

                &--item {
                    margin-top: 0 !important;

                    &:first-child {
                        margin-top: 0 !important;
                    }
                }
            }
        }

        &-text {
            &__bottom {
                flex-direction: column;

                &--middle {
                    display: none;
                }

                &--bottom {
                    margin-left: 0 !important;

                    &_left {
                        width: 100%;
                    }

                    &_right {
                        & a {
                            width: 50%;
                        }
                    }
                }

                &--hidden {
                    display: block;
                }
            }
        }
    }
    .product-informations {
        &-top {
            &__links {
                margin-left: 25px !important;
            }
        }

        &-middle {
            &__info {
                &--wrapper {
                    padding-left: 0 !important;
                }

                &--item {
                    width: 100%;
                }
            }
        }

        &-bottom {
            &-text {
                padding-left: 0 !important;
            }
        }

        &-company {
            padding: 25px;

            &__left {
                & img {
                    width: 290px;
                }
            }

            &__right {
                &--top {
                    table {
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: none;

                        tbody {
                            display: flex;
                        }

                        td, th {
                            font-size: 15px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            border-right: none;
                        }

                        td {
                            flex: 4;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-grow: 1 !important;

                            &:nth-child(2) {
                                height: 40.5%;
                            }
                        }
                    }
                }
            }
        }
    }
    .hidden-item {
        &-wrapper {
            &-name {
                & a {
                    font-size: 20px;
                }

                &__second {
                    font-size: 15px;
                }
            }

            &-rating {
                &__text {
                    font-size: 20px;
                }

                &__stars {
                    &--second {
                        & span {
                            font-size: 15px;
                        }
                    }

                    & a {
                        font-size: 15px;
                    }
                }
            }

        }
    }
    // END
    //PROCESS
    .my-orders {
        &-top {
            &__item {
                flex: 3;

            }
        }

        &-bottom {
            &__item {
                &--1 {
                    flex: 6;

                    &_top, &_bottom {
                        font-size: 14px;
                    }
                }

                &--2 {
                    display: none;
                }

                &--3 {
                    flex: 5;

                    & ul {
                        & li {
                            &:nth-child(3) {
                                padding-right: 18px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    //END
    // SEARCH
    .section-product {
        margin-top: 20px;

        &-card {
            &__item {
                margin: 20px 3px;
            }
        }
    }
    //END
}

@media (max-width: 480px) {
    .current .basket-choice:first-child {
        margin-right: 0;
    }
    // CART
    .main-section {
        &-process {
            &-title {
                &__name {
                    &--title {
                        font-size: 17px;
                    }

                    &--img {
                        & img {
                            width: 18px;
                        }
                    }
                }

                &__count {
                    font-size: 16px;
                }
            }

            .current {
                &__adress {
                    &--checkbox {
                        margin-right: 0 !important;
                        margin-left: 0 !important;
                    }

                    &--top {
                        margin-left: 10px !important;
                    }

                    &--bottom {
                        margin-left: 10px !important;

                        & a {
                            font-size: 16px;
                        }
                    }
                }
            }

            & .two {
                &-top {
                    & label {
                        margin-left: 10px;
                        font-size: 17px;
                        padding-right: 12px;
                        padding-left: 12px;
                    }
                }
            }

            & .third {
                &-wrapper {
                    & label {
                        margin-left: 0 !important;
                    }
                }

                &-item {
                    &__img {
                        width: 47px;
                        height: 47px;
                    }

                    &__description {
                        &--info {
                            .item-info {
                                &__top {
                                    &--title {
                                        font-size: 14px;
                                    }

                                    &--subtitle {
                                        font-size: 12px;
                                    }
                                }

                                &__bottom {
                                    &--img {
                                        & img {
                                            width: 14px !important;
                                        }
                                    }

                                    &--cost {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }
    //END

    // DESCRIPTION
    .description-item {
        &-img {
            min-height: 450px;

            &__main {
                & img {
                    width: 150px;
                    height: 150px;
                }
            }

            &__litle {
                &--item {
                    & img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        &-text {
            &__bottom {
                &--bottom {
                    flex-direction: column;

                    &_right {
                        margin-top: 15px;
                    }
                }

                &--left {
                    width: 100% !important;
                }
            }
        }
    }
    .product-informations {
        &-middle {
            &__info {
                &--item {
                    &_left, &_right {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .hidden-item {
        &-wrapper {
            &-name {
                & a {
                    font-size: 17px;
                }

                &__second {
                    font-size: 13px;
                }
            }

            &-rating {
                &__text {
                    font-size: 17px;
                }

                &__stars {
                    flex-direction: column;

                    &--second {
                        flex-direction: row-reverse;

                        & span {
                            margin-right: 0;
                            font-size: 13px;
                        }

                        & img {
                            width: 14px;
                            height: 13px;
                        }
                    }

                    & a {
                        align-self: flex-end;
                        font-size: 13px;
                    }

                }
            }

        }
    }
    // END

    //REGISTRATION
    .section-register {
        &-wrapper {
            padding: 0 16px;
        }

        &-form {
            &__field {
                &--input {
                    &-wrapper {
                        & label {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    //END
    .third {
        padding: 15px !important;

        &-wrapper {
            label::before, label::after {
                margin-left: 10px !important;
            }

        }
    }
    // END
    .messages {
        padding: 10px;

        &-list {
            padding: 10px;
        }

        .block {
            .image {
                display: none;
            }

        }

        .bold {
            font-size: 10px;
        }

        .light {
            font-size: 10px;
        }
    }
    .send {
        input {
            margin-top: 10px;
        }
    }
    //ORDER
    .order {
        &-inner {
            &__main {
                &--payment {
                    &_onlinecard {
                        &--label {
                            margin-left: 34px !important;
                        }
                    }

                    &_card {
                        flex-direction: column !important;
                        padding-left: 0 !important;

                        & div {
                            margin: 20px 0;
                        }
                    }
                }
            }
        }
    }
    .confirm {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    //END
    .search {
        &-left {
            display: none;
        }

        &-filter {
            &-content {
                &__item {
                    width: 310px;
                    left: 50%;
                    transform: translateX(-50%);

                    &-wrapper {
                        width: 100% !important;
                    }
                }

                &__ul {
                    display: none;
                }

                &__button {
                    & button {
                        width: 110px;
                        font-size: 10px;
                    }

                    &--green {
                        width: 110px !important;
                        display: block;
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    //  PROCESS
    .my-orders {
        &-bottom {
            &__item {
                &--1 {
                    flex: 6;

                    &_top, &_bottom {
                        font-size: 12px;
                    }
                }

                &--3 {
                    & ul {
                        & li {
                            &:nth-child(3) {
                                padding-right: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    //END
}

@media (max-width: 405px) {
    .section-product-wrapper .collections {
        &-right {
            padding: 10px;
        }
    }
    .main-title {
        font-size: 18px;
    }
    //REGISTER
    .section-register {
        &-form {
            &__field {
                &--input {
                    &-wrapper {
                        & label {
                            font-size: 13px;
                        }
                    }
                }

                &--legend {
                    font-size: 20px;
                }
            }

            &__submit {
                & input[type="button"] {
                    font-size: 16px;
                }
            }
        }
    }
    // END
    //DESCRIPTION
    .description-item {
        &-text {
            &__top {
                &--guarantee {
                    &_text {
                        display: none;
                    }
                }
            }

            &__bottom {
                &--left {
                    width: 100% !important;
                }
            }
        }
    }
    .product-informations {
        &-company {
            &__right {
                &--top {
                    &_table {
                        & > div {
                            & > div {
                                font-size: 14px;
                            }
                        }
                    }
                }

                &--bottom {
                    &_left, &_right {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 390px) {
    //MAIN-TITLE
    .main-title {
        font-size: 18px;
    }
    //END
    .product-informations {
        &-middle {
            padding: 15px !important;

            &__info {
                &--item {
                    &_left, &_right {
                        font-size: 12px;
                    }
                }
            }
        }

        &-bottom {
            padding: 15px !important;
        }
    }
    //CART
    .main-section {
        &-process {
            &-title {
                &__name {
                    margin-left: 20px !important;

                    &--title {
                        font-size: 16px;
                    }
                }

                &__count {
                    font-size: 12px;
                }
            }

            & .current {
                .radio {
                    & label {
                        &::before {
                            width: 22px;
                            height: 22px;
                        }
                    }
                }

                &__adress {
                    &--top {
                        margin-left: 15px;

                        &_title {
                            font-size: 16px;
                        }

                        &_links {
                            & button {
                                font-size: 16px;
                            }
                        }

                    }

                    &--bottom {
                        & button {
                            font-size: 14px;
                        }
                    }
                }

                & .checkbox {
                    margin-left: 0;
                }
            }

            & .two {
                &-top {
                    & label {
                        font-size: 15px;
                    }

                }
                &-bottom__text {
                    font-size: 12px;
                }
            }

        }
    }
    .third {
        &-wrapper {
            label::before, label::after {
                margin-left: 10px !important;
            }

        }

        &-item {
            &__description {
                &--info {
                    .item-info {
                        &__bottom {
                            flex-direction: column;
                            align-items: center;

                            &--cost {
                                margin-top: 5px;
                            }
                        }
                    }
                }


            }
        }

    }
    // END
    .my-orders {
        &-bottom {
            &__item {
                &--1 {
                    &_top, &_bottom {
                        padding-left: 15px;
                    }
                }

                &--3 {
                    padding-left: 0 !important;
                    flex: 5 !important;
                    padding-right: 10px !important;

                    & ul {
                        & li {
                            &:nth-child(3) {
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .product-informations {
        &-company {
            &__left {
                & img {
                    width: 240px;
                }
            }

            &__right {
                &--top {
                    &_table {
                        & > div {
                            & > div {
                                font-size: 12px;
                            }
                        }
                    }
                }

                &--bottom {
                    &_left, &_right {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .description-item {
        &-text {
            &__bottom {
                &--left {
                    &-table {
                        & thead {
                            & tr {
                                & th {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                &--right {
                    &_quantity {
                        padding-right: 10px !important;
                    }

                    &_size, &_color {
                        &-navs {
                            &__radio {
                                & label {
                                    &:not(:first-child) {
                                        margin-left: 4px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    //MAIN-TITLE
    .main-title {
        font-size: 14px;

        .red-item {
            & a {
                font-size: 12px;
            }
        }
    }
    //END
    .product-informations {
        &-middle {
            padding: 10px !important;

            &__info {
                &--item {
                    &_left, &_right {
                        font-size: 11px;
                    }
                }
            }
        }
    }
    //CART
    .main-section {
        &-process {
            &-title {
                padding: 13px !important;

                &__name {
                    &--title {
                        margin-left: 5px;
                    }
                }

                &__count {
                    font-size: 10px;
                }
            }

            & .third {
                &-wrapper {
                    & label {
                        &::before, &::after {
                            margin-left: 7px !important;
                        }
                    }
                }

                &-item {
                    padding: 0px 0px 0px 25px;

                    &__description {
                        &--info {
                            .item-info {
                                &__top {
                                    &--title {
                                        font-size: 11px;
                                    }
                                }

                                &__bottom {
                                    &--img {
                                        & img {
                                            width: 12px !important;
                                        }
                                    }
                                }
                            }
                        }

                        &--countity {
                            &_quantity {
                                &-title {
                                    font-size: 12px !important;
                                }
                            }
                        }

                    }
                }

            }
        }
    }
    //END

    //DESCRIPTION
    .description-item {
        &-img {
            min-height: 400px !important;
        }
    }
    .hidden-item {
        &-wrapper {
            &-name {
                & a {
                    font-size: 16px;
                }

                &__second {
                    font-size: 12px;
                }
            }

            &-rating {
                &__text {
                    font-size: 16px;
                }

                &__stars {
                    &--second {
                        & span {
                            margin-left: 0;
                        }

                        & img {
                            width: 12px;
                        }
                    }

                }
            }

        }
    }
    // END

    .my-orders {
        &-bottom {
            &__item {
                &--1 {
                    &_top, &_bottom {
                        font-size: 11px;
                    }
                }

                &--3 {
                    & ul {
                        & li {
                            &:nth-child(3) {
                                padding-right: 30px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    // PERSONAL
    .personal {
        &-item {
            &__top {
                margin-left: 0 !important;

                &--title {
                    font-size: 18px !important;
                }
            }

            &__button {
                margin-left: 10px !important;

                & > a {
                    font-size: 15px;
                }
            }

            &-remove {
                margin-left: 10px !important;
            }
        }
    }
}

@media (max-width: 320px) {
    // CART
    .result {
        justify-content: center;
    }
    .main-section {
        &-process {
            &-title {
                &__name {
                    &--title {
                        margin-left: 5px;
                    }
                }

                &__count {
                    font-size: 10px;
                }
            }

            & .third {
                &-item {
                    &__description {
                        &--info {
                            .item-info {
                                &__top {
                                    &--title {
                                        font-size: 12px;
                                    }

                                    &--subtitle {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }
    //END
}
