.message-top {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0;

    &-title {
        color: #333333;
        font-weight: bold;
        font-size: 24px;
    }
}

.message-back {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0;
    display: block;
}

.green {
    background: #46B22B;

    .text-center {
        text-align: center;
        color: $white;
    }
}

.messages {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    max-height: 500px;
    overflow-y: scroll;

    &-list {
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px 10px 0 0;
        padding: 25px;
        max-height: 500px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .messages-date {
            align-self: center;
            background: #E0E8FF;
            border-radius: 10px;
            padding: 6px 20px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 12px;
        }

        .message-item {
            font-size: 14px;
            padding: 6px 20px;
            border-radius: 10px;
            text-align: center;
            margin-top: 10px;

            img {
                display: block;
                width: 100px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .another {
            background: #ffffff;
            color: #333333;
            align-self: flex-start;
            border: 1px solid #EFEFF2;
        }

        .own {
            background: $main-color;
            color: $second-color;
            align-self: flex-end;
        }
    }

    .block {
        display: flex;
        align-items: center;
        transition: .2s all ease-out;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;

        &:hover {
            background: $main-color;

            .light {
                color: white;
            }

            .bold {
                color: white;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;

            .flex-1 {
                flex: 1;
            }

            .count {
                background: $main-color;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                font-weight: bold;
                color: #ffffff;
            }
        }

        .bold {
            color: #333333;
            font-weight: bold;
            font-size: 14px;
        }

        .light {
            color: #999999;
            font-size: 12px;
        }

        .m-10 {
            margin-top: 10px;
        }

        .image {
            width: 65px;
            height: 65px;
            background: #EFEFF2;
            border-radius: 10px;
            margin-right: 15px;
        }
    }
}

.send {
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    padding: 10px 20px;
    border-top: 1px solid #EFEFF2;
    flex-wrap: wrap;

    .mess {
        flex: 1;
        border: none;
        padding: 10px 5px;
        margin-right: 10px;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: none;
    }
}

.order-items {
    &__wrap {
        margin-top: 20px;
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        max-height: 200px;
        overflow-x: scroll;
    }

    img {
        border-radius: 10px;
        margin-right: 10px;
    }

    .right {
        flex: 1;
    }
}
