.filter{
    margin-top: 24px;
    &-content{
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        &__ul{
            width: 100%;
            margin-left: 30px;
            overflow-x: scroll;
            white-space: nowrap;
            &::-webkit-scrollbar{
                display: none;
            }
            & li {
                display: inline-block;
                & a{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    display: flex;
                    color: #B9B9B9;

                }
                &:not(:first-child){
                    margin-left: 30px;
                }
            }
            & .active{
                color: #333333;
                font-weight: bold;
                background: none;
            }
        }
    }

}
.section-product{
    &-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item{
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 30px;
            outline: none;
            min-height: 310px;
            height: 360px;
            padding: 20px;
            width: 250px;
            overflow: hidden;
            &--info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
                &__top{
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    padding-top: 20px;
                    position: relative;
                    margin-top: 20px;
                    &::before{
                        position: absolute;
                        content: "";
                        top: 0;
                        width: 120%;
                        left: -10%;
                        right: -10%;
                        height: 1px;
                        background: #efeff2;
                      }
                    &--title{
                        display: flex;
                        align-items: center;
                        text-align: right;
                        font-weight: bold;
                        font-size: 18px;
                        outline: none;
                    }
                    &--subtitle{
                        font-size: 14px;
                        outline: none;
                        margin-top: 4px;
                        margin-bottom: 14px;
                        display: flex;
                        align-items: center;
                        text-align: right;
                    }
                }
                &__bottom{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    &--img{
                        display: flex;
                    }
                    &--cost{
                        display: flex;
                        align-items: center;
                        text-align: right;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
            &--stock{
                display: flex;
                align-items: center;
                position: absolute;
                top: 40px;
                background: url('/img/Rectangle\ 28.png') no-repeat 50% 50%;
                background-size: cover;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
                z-index: 5;
                right: -7px;
                &_percent{
                    padding: 6px 12px 7px 24px;

                }
            }
            &--img{
                background: url('/img/Rectangle\ 24.png') no-repeat 50% 50%;
                background-size: cover;
                width: 100%;
                min-height: 210px;
                border-radius: 10px;
            }
        }
    }
}
