.section-second {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  z-index: 0;
  position: relative;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 455px;
    width: 100%;
  }
  &__item:not(:first-child) {
    margin-left: 20px;
  }
  &__item {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &--1 {
        position: relative;
        flex: 3;
      &_category {
        display: flex;
        flex-direction: column;
        height: 100%;
        &-title {
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 17px;
          border-bottom: 1px solid #efeff2;
          padding: 10px 0px 10px 20px;
        }
        &-menu {
          display: flex;
          margin-top: 25px;
          padding-left: 5px;

          & ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex: 1;
            padding-right: 10px;
            & > li {
              display: flex;
              border-radius: 10px;
              &:hover {
                background: $second-color;
                .menu-second {
                  display: flex;
                }
                & > a {
                  font-weight: bold;
                  color: #fff;
                  & .direction {
                    opacity: 1;
                    font-weight: normal;
                  }
                }
              }

              & a {
                flex: 1;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 9px 0px 9px 30px;
                & .direction {
                  padding-right: 10px;
                  color: white;
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
    &--2 {
      flex: 6;
      height: 455px;
      width: 100%;
      position: relative;
      .slick-dots {
        position: absolute;
        bottom: -20px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
          position: relative;
          display: inline-block;
          height: 20px;
          width: 20px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer;
          button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            font-size: 10px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus {
              outline: none;
              &:before {
                opacity: 1;
              }
            }
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              content: "\2022";
              width: 20px;
              height: 20px;
              font-family: "slick";
              font-size: 10px;
              text-align: center;
              color: #b0c6ff;
              transition: 0.2s all ease-out;
              opacity: 0.25;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
          &.slick-active button:before {
            color: #4371e9;
            opacity: 0.75;
            font-size: 16px;
          }
        }
      }
      .main-slider {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        padding: 15px 10px 10px 10px;
        &__item {
          //flex: 1 100%;
          min-width: 400px;
          background: url("/img/Rectangle\ 29\ \(3\).png") no-repeat 50%
            50%;
          background-size: cover;
          border-radius: 10px;
          height: 400px;
          display: flex;
          margin: 0 5px;
          justify-content: center;
          align-items: center;
          text-align: center;
          outline: none;
          color: #fff;
        }
      }
    }
    &--3 {
      flex: 3;
      & .stock {
        &-title {
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 17px;
          border-bottom: 1px solid #efeff2;
          color: #333333;
          padding: 10px 0px 10px 20px;
        }
        &-content {
          display: flex;
          justify-content: space-between !important;
          margin-top: 30px;
          align-items: center;
          &__img {
            display: flex;
            flex: 4;
            justify-content: center;
            align-items: center;
            &--insider {
              background: url("/img/Rectangle\ 20.png    ") no-repeat 50%
                50%;
              background-size: cover;
              width: 60px !important;
              height: 60px;
              content: "";
            }
          }
          &__text {
            display: flex;
            flex: 6;
            flex-direction: column;
            &--product {
              &_product-name {
                font-size: 14px;
                &:hover {
                  color: $dark-blue;
                }
                transition: 0.2s all ease-out;
                display: flex;
                align-items: center;
                text-align: right;
              }
              &_product-maker {
                display: flex;
                align-items: center;
                text-align: right;
                font-size: 12px;
              }
            }
            &--price {
              display: flex;
              margin-top: 10px;
              &_price-percent {
                display: flex;
                align-items: center;
                text-align: center;
                font-weight: bold;
                font-size: 10px;
                background: #46b32b;
                border-radius: 10px;
                padding: 2px 3px 2px 3px;
                color: #fff;
              }
              &_price-cost {
                display: flex;
                align-items: center;
                text-align: right;
                font-weight: bold;
                font-size: 12px;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}
.menu-second {
  display: none;
  position: absolute;
  //align-items: flex-start;
  //justify-content: flex-start;
  z-index: 100;
  height: 455px !important;
  top: 0;
  right: -330px;
  width: 345px;
  background: transparent;
  transition: 0.4s all ease-out;
  & > ul {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: #ffffff;
    margin-left: 20px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    & > li {
      border-radius: 10px;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &:hover {
        background: $second-color;
        & > a {
          font-weight: bold;
          & .direction {
            opacity: 1;
            font-weight: normal;
          }
        }
      }

      & a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding: 9px 0px 9px 30px;
        & .direction {
          position: absolute;
          right: 10px;
          color: white;
          opacity: 0;
        }
      }
    }
  }
}

.section-product {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  &-wrapper {
    .main-card {
      display: flex;
      justify-content: center;
      &__item {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 30px;
        outline: none;
        height: 360px;
        padding: 20px;
        width: 250px;
        overflow: hidden;
        &:not(:first-child) {
          margin-left: 15px;
        }
        &--images {
          position: absolute;
          display: flex;
          top: 210px;
          padding: 10px 15px;
          border-radius: 5px !important;
          z-index: 11;
        }

        &--item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          &__top {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            margin-top: 20px;
            &::before{
              position: absolute;
              content: "";
              top: 10px;
              width: 200%;
              left: -10%;
              height: 1px;
              background: #efeff2;
            }
            &--title {
              font-weight: bold;
              font-size: 18px;
              outline: none;
              display: flex;
              align-items: center;
              text-align: center;
            }
            &--subtitle {
              display: flex;
              align-items: center;
              text-align: center;
              font-size: 14px;
              outline: none;
              margin-top: 4px;
              margin-bottom: 14px;
            }
          }
          &__bottom {
            display: flex;
            justify-content: space-around;
            width: 100%;
            &--img {
              display: flex;
            }
            &--cost {
              display: flex;
              align-items: center;
              text-align: center;
              font-weight: bold;
              font-size: 15px;
            }
          }
        }
        &--stock {
          display: flex;
          align-items: center;
          position: absolute;
          top: 40px;
          background: url("/img/Rectangle\ 28.png") no-repeat 50% 50%;
          background-size: cover;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          z-index: 5;
          right: -7px;
          &_percent {
            padding: 6px 12px 7px 24px;
          }
        }
        &--img {
          position: relative;
          width: 100%;
          min-height: 210px;
          border-radius: 10px;
          &::before {
            position: absolute;
            content: "";
            bottom: -20px;
            width: 120%;
            left: -10%;
            right: -10%;
            height: 1px;
            background: #efeff2;
          }
          & img {
            border-radius: 10px;
            width: 210px;
            height: 210px;
          }
        }
      }
    }
  }
}
.big-cards {
  display: flex;
  &__item-bottom {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 428px !important;
    width: 428px !important;
    position: relative;
    outline: none;
    flex-direction: column;
    justify-content: space-between;
    &_wrapper {
      display: flex;
      width: 100%;
    }
    &_first {
      display: flex;
      flex: 1;
      width: 100% !important;
      align-self: flex-start;
      &-top {
        align-items: flex-start !important;
        margin-bottom: 0 !important;
        &__subtitle {
          margin: 0 !important;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
        }
      }
      &-top, &-bottom {
        align-items: flex-start;
      }
      &-bottom {
        width: 100%;
        &__wrapper {
          display: flex;
          justify-content: space-between !important;
          width: 100%;
        }
        &__left {
          width: 1 !important;
          display: flex;
          justify-content: flex-start !important;
          &--img {
            display: flex;
          }
        }
        &__cost {
          margin-left: 16px;
          font-size: 14px !important;
        }
      }
    }
    &_two {
      display: flex;
      justify-content: flex-end !important;
      align-items: flex-end;
      &-img {
        width: 60px;
        height: 60px;
        background: #f2f3f7;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
    }
    &--prodaj {
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 288px;
      padding: 9px 30px;
      background: #fff;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &--second-img {
      border-radius: 10px;
      width: 100%;
      min-height: 250px;
      & img {
        width: 388px;
        height: 288px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
.section-advert {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 460px !important;
  padding: 20px;
  &-left {
    display: flex;
    align-items: center;
    flex: 6;
    justify-content: space-between;
    flex-direction: column;
    &__top,
    &__bottom {
      background: url("/img/Rectangle\ 30.png") no-repeat 50% 50%;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #fff;
      flex: 1;
      border-radius: 10px;
      text-align: center;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    padding-left: 20px;
    &__content {
      background: url("/img/Rectangle\ 30.png") no-repeat 50% 50%;
      background-size: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    & img {
      max-width: 605px !important;
    }
  }
}
//aksiya
.stock-drop {
  max-width: 641px;
  display: none;
  height: 298px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    flex-direction: column;
    align-self: center;
    padding: 15px;
    &__item {
      display: flex;
      border-radius: 10px;
      justify-content: space-evenly;
      padding: 8px 0px;
      transition: 0.4s all ease-out;

      &:hover {
        background: $second-color;
      }
      .item-name {
        display: flex;
        align-self: center;
        justify-content: center;
        & a {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          text-align: right;
          & .name-second {
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            margin-left: 10px;
          }
        }
      }
      .item-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rating-text {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          margin-right: 10px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: right;
          & span {
            font-weight: normal;
          }
        }
      }
      .item-price {
        display: flex;
        align-items: center;
        .price-percent {
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-align: center;
          background: #46b32b;
          border-radius: 10px;
          padding: 2px 3px 2px 3px;
          color: #fff;
        }
        .price-cost {
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */
          margin-left: 15px;
          display: flex;
          align-items: center;
          text-align: right;
        }
      }
    }
  }
}
