.order{
    &-inner{
        display: flex;
        min-height: 375px;
        &__main{
            display: flex;
            flex-direction: column;
            flex: 1;
            &--payment{
                padding: 0 0 5px 0;
                min-height: 275px !important;
                display: flex;
                flex-direction: column;
                &::before{
                    display: none;
                }
                &_onlinecard{
                    align-self: flex-start;
                    border-bottom: 1px solid #EFEFF2;
                    width: 100%;
                    &--label{
                        margin-left: 55px !important;
                    }
                    & a{
                        border-bottom:  none !important;
                    }
                }
                &_card{
                    padding: 0 !important;
                    width: 100%;
                    display: flex;
                    margin-top: 20px !important;
                    justify-content: start;
                    padding-left: 55px !important;
                    padding-right: 10px !important;
                    & div{
                        margin: 0 auto;
                    }
                }
            }
            &:nth-child(1){
                height: 100% !important;
                margin-right: 20px;
            }
        }
    }
    &-rating{
        justify-content: flex-start !important;
    }
}
.active{
    background: $dark-blue;
    color: #fff;
}
.confirm{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #46B22B;
}
