.search-wrap {
    background: #858585;
    border-radius: 5px;
    padding: 20px;

    .input {
        flex: 1;
        max-width: 25%;
        border-radius: 5px;
        padding: 10px 15px;
        height: 40px;
        border: none;
    }

    .select {
        width: 100%;
        max-width: 24%;
        //margin-left: 20px;

        select {
            width: 100%;
            border-radius: 5px;
            padding: 10px 15px;
            height: 40px;
            border: none;
        }
    }

    .buttons {
        .btn {
            margin-left: 20px;
            height: 40px;
            border-radius: 5px;
            width: 100px;
            border: none;
            display: inline-block;
            line-height: 40px;
            text-align: center;
        }

        .main-btn {
            color: $main-color;
            background: $second-color;
        }

        .danger-btn {
            color: white;
            background: #FF5858;
        }
    }
}

.not-found {
    padding: 50px 0;

    .info-title {
        margin-top: 25px;
        font-size: 48px;
        line-height: 45px;
        text-align: center;
        max-width: 400px;
        color: #858585;
    }
}
