.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5999;
    background: $second-color;
    min-height: 80px;
    min-width: 300px;

    .hamburger {
        margin-right: 20px;
        cursor: pointer;
    }

    &-padding {
        padding-right: 15px;
    }
}

.text-center {
    text-align: center;
}

.active {
    color: $second-color !important;
    background: $main-color !important;
}

.left-navigation {
    position: fixed;
    top: 0;
    left: -500px;
    bottom: 0;
    background: $second-color;
    z-index: 10000;
    color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding: 25px;
    transition: .2s all ease-out;

    &.show-bar {
        left: 0;
    }

    a {
        color: $main-color;
    }

    .btn {
        background: $main-color;
        color: $second-color;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        width: 100%;
        max-width: 240px;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        margin: 20px 0 40px;
    }

    .listing {
        font-weight: 600;
        font-size: 18px;

        li {
            margin-bottom: 30px;
        }
    }

    .language {
        text-transform: uppercase;
        margin-bottom: 10px;

        a {
            height: 26px;
            padding: 0 5px;
        }

        a:first-child {
            margin-right: 15px;
        }
    }
}

.toggled {
    overflow: hidden !important;
}

.blur {
    display: none;
    position: fixed;
    z-index: 6999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.show {
    display: block !important;
}

.none {
    display: none !important;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $main-color;
    background-color: $second-color;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #295a9f;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.page-item.disabled .page-link {
    color: $second-color;
    pointer-events: none;
    cursor: auto;
    background-color: $main-color;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.category__all {
    background: #2d2d2d;
    text-align: center;
    padding: 20px 5px;
    color: #fbc775;
    font-weight: 700;
    font-size: 18px;
}
.category__choice .btn{
    margin-top: 10px;
}
.category__all, .category__block {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 10px;

}
.category__block{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    img{
        display: block;
        width: 100%;
        object-fit: contain;
    }
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $main-color;
        border-radius: 5px;
        font-weight: 500;
        padding: 10px;
    }
}
.relative{
    position: relative;
    .basket-count{
        position: absolute;
        top: -3px;
        right: -3px;
        background: #FF5858;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        color: $main-color;
        border-radius: 50%;
        font-size: 10px;
    }
}
